<!DOCTYPE html>
<html lang="en">
<body>

    <br>
    <ul>

      <li><a href="<%= urlDatabase[shortURL] %>"><%= urlDatabase[shortURL] %> </a></li>
      <li><%= shortURL %></li>
      <br>
      <form method="POST" action="/urls/<%=key%>?_method=PUT">
      <input style="width:12%; border-radius:5px;" value="<%= urlDatabase[shortURL] %>" name="longURL"><button style="margin-left:10px;" >UPDATE</button>

      </form>


    </ul>
</body>
</html>




